@import 'variables';
header{
    height: 200px;
    background: $colorDos;
}

section{
    height: 200px;
    background: $colorTres;
}

footer{
    height: 200px;
    background: $colorCuatro;
}