$colorUno: hsl(55, 96%, 70%);
$colorDos: #b83b5e;
$colorTres: #6a2c70;
section{
   background:  $colorUno;

   h1{
       background: $colorUno;
   }

   h2{
       background: $colorDos;
   }
   
   p{
    background: $colorTres;
   }
}